@import url('../src/fonts/sfpro-display.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  font-family: 'SF Pro Display', sans-serif;
  margin: 0;
  padding: 0;
}

